#name {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    line-height: 60px;
  
    text-align: center;
    background: #8e0038;
    float: left;
    margin: 9px 5px 5px 30px;
  }
  .bglogo{
      background-color:#bdbdbd;
      width: 100%;
      height: 80px;


  }
  #timeline{
      padding-top: 18px ;
      font-family: 'Colonna MT';
      color:#8e0038; 
  
      margin-left: 100px;
      
  }
  .navcolor{
      position: fixed;
      background-color: #007065;
  

    
  }
  #up{
      margin-top: -8px;
      /* position: fixed; */

  }
  
  /* li a:before{
    content: '';
    width: 100px;
    position: absolute;
    border-bottom:  5px solid #bdbdbd;
 
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
  }

   li a:hover:before{
    right: 0;
  
  }
  li a:hover{
background-color: #8e0038;
      }
   */
 
  .img1{
      width: 270px;
      height: 400px;
      margin-left: 0px;     
      

  }
  #content{
      margin-left: 60px ;
      margin-right: 90px;
  }
  .img234{
    margin-left: 2px;
  }
  #ent{
      margin-bottom: 50px;
  }
 
  .imghover img:hover{
      transform: scale(1.01);
      opacity: 0.8;

  }
  .entertainment{
      width: 100%;
      box-shadow: 3px 3px 3px 3px #bdbdbd;
      margin: 0 auto;
  }
  

 h2 {
    /* font-size: 2rem; */
    margin-top: -20px;
    /* position: absolute; */
}
.size{
 
/* border: 3px solid red; */
 
width: 100%;
}

.more{


 background:  no-repeat scroll 57px 9px #b71c1c; 
color: #FFF;

font-size: 20px;
font-weight: bold;
padding: 4px 20px;
position: absolute;
right: 59px;
margin-top: -17px;
text-transform: uppercase;
margin-right: -60px;

}

.mycard{
    height: 500px;
}
.techmore{
    background: no-repeat scroll 57px 9px #009688;
    margin-top: -31px;
    
  
}
.techsize{
    border: 3px solid #009688;

}
.sportsize{
    border: 3px solid #8c9900;

}
.excerisesize{
    border: 3px solid #34515e;

}
.contact{
    text-align: center;
}
.iconfooter{
    margin-left: -200px;
}
  
.headercolor{
    background-color: #000063;
}
.register{
    margin: -6px 0 0 -300px;
}
.fix{
    position: fixed;
}
  
.aboutme{
    font-size: 20px;
}
.contentaboutus{
   margin-left: 230px;
}
  


  
nav {
    width: 100%;
    background: #009688;
    height: 80px;

  }

  ul {
    width: 80%;
    margin: 0  ;
  

    padding: auto;

  }

  ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    

  }

  /* ul li:hover{
   background: olive;

 } */
  ul li a {
    color: #e8f5e9;
    text-decoration: none;
  
  }

  @media (max-width: 768px) {
    ul {
      width: 100%;

    }

    ul li {
      display: block;
      text-align: center;

    }
  }
  body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #007065 ;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: darkred;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

}

.sticky + .content {
  padding-top: 60px;
}
  

 